.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 6rem;
  min-height: 100vh;
  font-size: 20px;
}

.main div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.connector{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  height: fit-content;
  background-color: transparent;
  color:#fff;
  cursor: pointer;

  transition: all 0.2s ease;
}

.connector span{
  border: 1px solid rgba(195, 195, 195, 0.14);
  border-radius: 15px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connector:hover{
  filter: brightness(0.8);
}

.loading{
  filter: brightness(0.8);
  cursor:auto;
}

.button {
  background-color: #fff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #202020;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  transition: all 0.1s ease;
  border: 1px solid transparent;
}

.button:hover {
  background-color: #161616;
  border: 1px solid #fff;
  color:#fff;
}